<div class='asset-options'>
  <h3>Options</h3>
  <label>
    {{input type='checkbox' name='skippable' checked=skippable}}
    Skippable
  </label>
  <label>
    {{input type='checkbox' name='commentsAllowed' checked=commentsAllowed}}
    Comments Allowed
  </label>
  {{partial value.specialOptionsTemplate}}
</div>
