<div id='learning-module-page'>
  <h1>
    {{toggle-edit-text-field value=title action="saveModule"}}
    {{view "select" content=viewStyles value=viewStyle}}
  </h1>
  {{partial innerTemplateName}}
  <button {{action 'addContentToModule'}} class='add-content to-module'>
    Add More Content
  </button>
</div>
