<div class='module'>

  <h1 class='l-mbl'>
    {{toggle-edit-text-field value=title action="saveModule"}}
  </h1>

	{{view "select" content=viewStyles value=viewStyle class="module__view-select"}}

  {{partial innerTemplateName}}

  <button {{action 'addContentToModule'}} class='button'>
    Add More Content
  </button>

</div>
