{{#if multipleAssets}}
  {{#draggable-object content=firstAsset}}
    {{render 'condensed_asset' firstAsset}}
  {{/draggable-object}}

  {{#each asset in restAssets}}
    {{#draggable-object-target action='reinsertAsset' before=asset}}
      <div class='asset__add-new'>
        <hr>
      </div>
    {{/draggable-object-target}}

    {{#draggable-object content=asset}}
      {{render 'condensed_asset' asset controller='asset'}}
    {{/draggable-object}}

  {{/each}}

{{else}}
  {{#if firstAsset}}
    {{render 'condensed_asset' firstAsset}}
  {{/if}}

{{/if}}
