<div class='panel panel--right'>

  <div class='collaborators'>
    <h4 class='l-mbs'>Collaborators</h4>

    <div class='collaborators__images l-mbs'>
      {{#each user in collaborators}}
        <img class='collaborator-image' {{bind-attr src=user.smallImageSrc}}/>
      {{/each}}
    </div>

    <button {{action 'addCollaborators'}} class='button button--blue'>
      Add Collaborators
    </button>
  </div>

  <div class='activity'>
    <h4 class='l-mbs'>Activity</h4>
    {{#each event in sortedEvents}}
      {{render 'event' event}}
    {{/each}}
  </div>

</div>
