<header>

	<div class="logo-container">
  	<a class="logo" ></a>
 	</div>

 	<div class="search-container">
 		<i class="fa fa-search"></i>
  	{{input valueBinding='query'}}
  </div>

  <ul>
  	<li>
  		steve_rivera
  		<i class='fa fa-chevron-down'></i>
  	</li>
  </ul>

</header>
