<div class='panel panel--left'>

  <div class='outline'>
    <div class='outline__header'>
      <h3 class='outline__header__title l-mbm'>
        {{#link-to 'learning_path.summary' model.id}}
          {{title}}
        {{/link-to}}
      </h3>
      <p class='short-description text--small'>
        {{toggle-edit-text-field value=shortDescription action='saveAll'}}
      </p>
    </div>

    <div class='outline__modules'>
      {{#each learningModule in modules}}
        {{outline-expandable learningModule=learningModule expanded=false}}
      {{/each}}
    </div>

    <a {{action 'addModuleToPath'}} class='outline__module--add'>
      + Add Another Module
    </a>
  </div>
</div>
