<div class='outline'>
  <div class='top'>
    <div class='title'>
      {{#link-to 'learning_path.summary' model.id}}
        {{title}}
      {{/link-to}}
    </div>
    <div class='short-description'>
      {{toggle-edit-text-field value=shortDescription action='saveAll'}}
    </div>
    {{#each learningModule in learningModules}}
      {{outline-expandable learningModule=learningModule expanded=false}}
    {{/each}}
  </div>

</div>

